@model X.PagedList.IPagedList<CocktailsMagician.Areas.Cocktails.Models.CocktailViewModel>
@using X.PagedList.Mvc.Core


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa-star {
            color: #F7F7F7;
        }

        .checked {
            color: #04D420;
        }
        
    </style>
</head>


<center> <h1>Cocktails</h1> </center>

<center>
    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("SearchString")
            <input type="submit" class="btn-outline-success" value="Search" />
        </p>
    }
</center>
<br />
<br />

@foreach (var cocktail in Model)
{

    <div class="container">
        <div class="row" style="background-color: #DFDFDF">
            <div class="col-sm-4">
                <img src="@($"{@ViewData["imgPath"]}{cocktail.Id}.jpg")" width="250" ; height:auto onerror="this.src='/Images/cocktail.jpg';" />
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                            <a asp-action="Details" asp-route-id="@cocktail.Id" style="color:#4F5D75">@cocktail.Name</a>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="font-family: 'Roboto', sans-serif;">
                        @cocktail.Description
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @if (cocktail.AvgRating == 0)
                        {
                            <p class="text-secondary">Not rated</p>
                        }
                        else
                        {
                            @for (int i = 0; i < (int)cocktail.AvgRating; i++)
                            {
                                <span class="fa fa-star checked"></span>
                            }
                            @for (int i = (int)cocktail.AvgRating; i < 5; i++)
                            {
                                <span class="fa fa-star"></span>
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @String.Join(", ", cocktail.CocktailIngredients.Select(ci => ci.IngredientName).ToArray())                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
}



<center>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</center>
