@model X.PagedList.IPagedList<CocktailsMagician.Areas.Cocktails.Models.CocktailViewModel>
@using X.PagedList.Mvc.Core
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add / remove cocktail</h1>
<div>
    <input asp-for="@ViewData["barName"]" class="form-control" readonly />
</div>
<br />

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

@*ViewData["barId"] = bar.Id;
    ViewData["barName"] = bar.Name;*@
<form asp-action="AddRmvCocktailsFromBar" method="post">
    <div>
        <input type="hidden" id="barId" asp-for="@ViewData["barId"]" class="form-control" readonly />
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Name", "AddRmvCocktailsFromBar", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().AvgRating)
                    </th>*@
                <th>
                    @Html.ActionLink("Rating", "AddRmvCocktailsFromBar", new { sortOrder = ViewBag.RatingSortParam, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IsAvailableInBar)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <input type="hidden" asp-for="@Model[i].Id" readonly />
                <tr>
                    <td>
                        <input asp-for="@Model[i].Name" readonly />
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => Model[i].UnlistedOn)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].AvgRating)
                    </td>
                    <td>
                        <input asp-for="@Model[i].IsAvailableInBar" class="form-check-input" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<center>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("AddRmvCocktailsFromBar",
        new { Id = @ViewData["barId"], page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter/*, searchString = ViewBag.SearchString*/ }))
</center>

@*@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@