@model X.PagedList.IPagedList<CocktailsMagician.Areas.Cocktails.Models.CocktailViewModel>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        input[readonly] {
            border: none;
            background: none;
        }
    </style>
</head>
<h1> Add / remove cocktail</h1>
<div>
    <input asp-for="@ViewData["barName"]" class="form-control" readonly />
</div>
<br />
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<form asp-action="AddRmvCocktailsFromBar" method="post">
    <div>
        <input type="hidden" id="barId" asp-for="@ViewData["barId"]" class="form-control" readonly />
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Name", "AddRmvCocktailsFromBar", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Rating", "AddRmvCocktailsFromBar", new { sortOrder = ViewBag.RatingSortParam, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IsAvailableInBar)
                </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td style="display:none;">
                        <input type="hidden" asp-for="@Model[i].Id" readonly />
                    </td>
                    <td>
                        <input asp-for="@Model[i].Name" readonly />
                    </td>
                    <td>
                        <input asp-for="@Model[i].AvgRating" type="text" readonly />
                    </td>
                    <td>
                        <input asp-for="@Model[i].IsAvailableInBar" class="form-check-input" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<center>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("AddRmvCocktailsFromBar",
        new { Id = @ViewData["barId"], page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.SearchString }))
</center>

@section Scripts
{
    <script>
        var input = $(":checkbox")
        input.change(function () {
            var barId = $("#barId").val();
            var isAvailableInBar = $(this).is(':checked');
            var cocktailId = $(this).closest('tr').children().eq(0).children().eq(0).val();
            var cocktailName = $(this).closest('tr').children().eq(1).children().eq(0).val();
            var successMsg = cocktailName + (isAvailableInBar == true ? ' has been successfully added!' : ' has been successfully removed!');
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddRmvCocktailsFromBarSingle","Bars",new { area = "Bars" })",
                data: {barId:barId, cocktailId:cocktailId, isAvailable:isAvailableInBar},
                dataType: "json",
                success: alert(successMsg),
            });
        });
    </script>
}
