@model CocktailsMagician.Areas.Bars.Models.BarViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
@*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<head>
    <style>
        input[readonly] {
            border: none;
            background: none;
            color: darkgrey;
        }
    </style>
    <style>
        .greenColor {
            color: green;
        }
    </style>
    <style>
        .modal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<div>
    <input id="barId" value="@Model.Id" class="form-control" readonly />
</div>

<h1>@Model.Name</h1>
@if (Model.AvgRating > 0)
{
<div>
    <span class="starFadeN" id="sRate1"></span>
    <span class="starFadeN" id="sRate2"></span>
    <span class="starFadeN" id="sRate3"></span>
    <span class="starFadeN" id="sRate4"></span>
    <span class="starFadeN" id="sRate5"></span>
</div>
}
else
{
<div>
    <input type="text" value="Not rated yet" readonly>
</div>
}

<div>
    <input type="hidden" id="barId" name="barId" value="@Model.Id">
</div>
<div>
    <hr />
    <div class="row">
        <dl class="col-sm-8">
            <div class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Website)
                </dt>
                <dd class="col-sm-9">
                    @if (Model.HasWebsite)
                    {
                    <a href="@Model.Website" target="_blank">Website</a>
                    }
                    else
                    {
                    <input type="text" value="-" readonly>
                    }
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.UnlistedOn)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.UnlistedOn)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.City)
                </dd>
            </div>
        </dl>
        <dl class="col-sm-4">
            <img src="@($"{@ViewData["imgPath"]}{@Model.Id}.png")" alt="Image not found" onerror="this.src=@ViewData["barDefaultImgPath"];" width:auto; height="180">
        </dl>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<br />
@if (@ViewData["User"] != null)
{
<div>
    <!-- Button trigger modal -->
    <button id="openModal" type="button" class="btn btn-primary" @*data-toggle="modal" data-target="#newReviewModal"*@>
        AddReview
    </button>
</div>
}



<script>
    $(document).ready(function() {
    $("#openModal").click(function () {
        var barId = $("#barId").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("CheckIfPostedReview","BarReviews",new { area = "Bars" })",
            data: {barId:barId},
            dataType: "json",
            success: function(response){
                var isReviewed=response;

                if (isReviewed) {
                    alert("Already reviewed this cocktail");
                }
                else {
                        $('#newReviewModal').modal('show');
                }
                }

            });
        });
    });
</script>



@*<div id="ReviewInputForm">
        @{
                await Html.RenderPartialAsync("_Cocktails");
        }
    </div>


    <script>
        $(document).ready(function () {
            alert("ready");
            );
    </script>*@

<table id="CocktailTable" class="table table-hover dt-responsive nowrap" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts
{
    <link href="~/DataTables/datatables.css" rel="stylesheet" type="text/css" />
    <link href="~/DataTables/Buttons-1.6.2/css/buttons.dataTables.css" rel="stylesheet" />
    <script src="~/DataTables/datatables.js" type="text/javascript" charset="utf8"></script>


    <script>
        $(document).ready(function ()
        {
            alert("ready");
            var barId = $("#barId").val();
            alert(barId);
            @*var isAdmin = @User.IsInRole("Admin");*@
            $('#CocktailTable').DataTable({
                "ordering": true,
                "processing": true,
                "serverSide": true,
                "lengthMenu": [[2,10, 25, 50, -1], [2,10, 25, 50, "All"]],
                "ajax": {
                    "url": "@Url.Action("ListCocktailsInBars", "Bars",new { area = "Bars" })",
                    //"data": { barId: barId },
                    "type": "POST",
                    "dataType": "json",
                },
                  "columnDefs": [ {
                    "targets": 3,
                    "data": "Site",
                    "render": function ( data, type, row, meta ) {
                      return '<a href="'+data+'">site</a>';
                    }
                  }],
                "columns": [
                    { "data": "id", "name": "Id", "visible": false},
                    { "data": "name", "name": "Name", "autoWidth": true, "orderable": true },
                    { "data": "avgRating", "name": "AvgRating", "autoWidth": true }
                ]
            });
        });
    </script>
}